@import './base.css';

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@font-face {
  font-family: 'regular';
  src: url('./fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'medium';
  src: url('./fonts/Montserrat-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'extraLight';
  src: url('./fonts/Montserrat-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'light';
  src: url('./fonts/Montserrat-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'bold';
  src: url('./fonts/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'semiBold';
  src: url('./fonts/Montserrat-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'extraBold';
  src: url('./fonts/Montserrat-ExtraBold.ttf') format('truetype');
}
